<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/banking
        </property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">secret</property>

        <!-- Hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Entity classes -->
        <mapping class="org.example.BankAccount"/>
        <mapping class="org.example.User"/>
        <mapping class="org.example.Coupon"/>
        <mapping class="org.example.Transaction"/>
        <mapping class="org.example.Deposit"/>
        <mapping class="org.example.Withdrawal"/>
        <mapping class="org.example.Transfer"/>
        <mapping class="org.example.Purchase"/>

    </session-factory>
</hibernate-configuration>
